/* Variables Globales */
$fuente-titulo: 'Russo One', sans-serif;
$fuente-texto: 'DM Sans', sans-serif;
$fuente-nunito: 'Nunito Sans', sans-serif;
$color-fondo: #fff;

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    background-color: $color-fondo;
    font-family: $fuente-nunito;
    background: url(img/foto.jpg);
    .backg{
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 10%;
    }
    .nav{
        
        align-content: right;
        padding: 5%;
        width: 100%;
  
    }

}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #f1f1f1;
    font-family: 'Quicksand', sans-serif; 
}

  
  main {
    font-family: 'Quicksand', sans-serif;
    text-align: center; 
    display: flex;
  }

button {
  font-family: quicksand; }
.tabla {
  background-color: #ffffff;
  margin: auto;
  padding: 5px;
}



.logo img{
    height: auto;
    width: 10em;
    background-color: #24123a;
    padding: 10%;
    
    
}

@media screen and (max-width:768px){
    
    .backg{
        
        padding-top: 30%;
    }
    .container{
        width: 100%;
         
    }    

    .logo img{
        height: auto;
        width: 1.5em;
        background-color: #24123a;
        padding: 10%;
    }
}

@import "bienvenida";
@import "header";
@import "carrusel";
@import "carrito";
@import "validar";
@import "footer";